div{
    width: 30%;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
h2{
    font-size:30px ;
}
td{
    margin: 10%;
    margin-bottom: 10%;
    padding-bottom: 3%;
    font-size: 20px;
    padding-left: 5%;
}